ul {
  list-style: none;
  padding-left: 0px;
}
.social-links {
  display: flex;
  flex: 1;
  padding: 10px;
  justify-content: space-around;
  color: red;
  margin: 0 auto;
}
.social-links li {
  width: 40px;
  height: 40px;
}
.location-section {
  margin-bottom: 10px;
}
h2,
h3 {
  font-weight: 500;
  color: red;
}
