Footer {
  background-color: black;
  padding: 15px;
}

.footer-title {
  text-align: left;
  color: #ea7d3a;
}
.footer-details,
.Sitemap a {
  color: white;
}
.Sitemap {
  list-style: none;
  margin: 0;
  text-align: left;
}
.footer-main-info {
  text-align: center;
}
.copyright-details,
.footer a {
  text-align: center;
  color: #ea7d3a;
}
#email-link {
  font-size: smaller;
}
#divider-7 {
  display: flex;
  position: relative;
  height: 15px;
  margin: 0 0;
  background: red;
}
#divider-1 {
  background: #ea7d3a;
  position: relative;
  height: 4px;
  width: 170px;
  float: left;
  margin: 0 0;
}
.social-links a {
  color: red;
  line-height: 2;
}
@media (max-width: 576px) {
  Footer {
    background-color: black;
    padding: 15px;
  }
  .footer-title,
  .footer-details,
  .Sitemap {
    text-align: center;
  }

  #divider-1 {
    display: flex;
    position: relative;
    height: 4px;
    margin: 0 0;
    background: #ea7d3a;
  }
  .footer-details {
    margin-bottom: 8px;
  }
  .footer-main-info {
    font-size: 11px;
    padding: 15px;
  }
}
