.container {
  padding: 10px;
}
.home h1 {
  font-size: 50px;
}
p {
  font-weight: bolder;
  padding: 5px;
}
section {
  padding: 5px;
}
.restaurant-synopsis,
.builder-info {
  margin: 10px 0;
}

.col-4,
.col-2 {
  margin: 0 auto;
  text-align: center;
}
.restaurant-photos {
  border-radius: 5px;
}
.phoenix-synopsis {
  margin: 50px;
}
.happy-hour {
  background-color: #dc3545;
}

@media (max-width: 576px) {
  .home h1 {
    font-size: 30px;
  }
  .rotating-homepage-photos {
    display: none;
  }
  .home h2 {
    font-size: 20px;
    text-align: left;
    padding: 0;
  }
  .home p {
    text-align: center;
    padding: 0;
  }
  .happy-hour {
    display: none;
  }
}
