.menuDescription {
  font-weight: 200;
}
section {
  margin: 14px 151px;
}
ul {
  list-style: none;
}
p {
  font-weight: bolder;
  padding: 5px;
}
h2 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 10px;
}
.menu-type {
  font-size: 60px;
  text-align: center;
  color: var(--primary-color);
}

.food-category {
  font-size: 20px;
}
.additional-info {
  font-style: italic;
  font-weight: 600;
}
.menuShortcuts a {
  color: var(--tertiary-color);
}
@media (max-width: 1087px) {
  section {
    margin: 0 auto;
  }
  ul {
    padding: 0;
  }
  section {
    margin: 14px 10px;
  }
  .menu-type {
    font-size: 40px;
  }
  .menuShortcuts .col {
    margin: 3px;
  }
  .MenuShortcutsButton {
    border: 0;
    outline: 0;
    padding: 8px 1em;
    color: var(--tertiary-color);
    font-size: 12px;
    font-weight: 300;
    border-radius: 20px;
    margin: 3px;
    background-color: var(--secondary-color);
    background-image: linear-gradient(
      to right,
      transparent 0%,
      var(--primary-color) 100%
    );
    transition: all 240ms ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: var(--background);
      color: var(--tertiary-color);
    }
    &:not(:last-of-type) {
      margin-right: 7px;
    }
  }
}
