body {
  margin: 0 auto;
  padding: 20px 40px;
  font-family: "Open Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  margin: 0 auto;
  background-color: #fcfeff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --secondary-color: #ea7d3a;
  --tertiary-color: #fcfeff;
  --text-color: black;
  --border: 5px solid red;
  --border-radius: 8px;
  --speed: 500ms;
  --display: flex;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
